*{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    animation: fade 0.6s;  
    transition: all 0.6s;
}

.navbar-brand img{
    float: left;
    width: 60px;
    height: auto;
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.btn-primary{
    color: white;
    background-color: black;
    border-color: white;
    /* margin-left: 15px; */
}
.btn-primary:hover{
    color: black;
    background-color: white;
    border-color: black;
    /* margin-left: 15px; */
}