<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'image/logo.png' %}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ajaks.css' %}"/>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Find a Book | akbarrafs</title>
</head>
<body>
    <div class="mb-5 mx-5 py-2 flex-center-col align-c">
        <a class="navbar-brand">
            <img src="{% static 'image/logo.png' %}">
        </a>
        <h1 class="text-36 mb-3">Find a book</h1>
        <form class="form-inline mb-2" id="myform">
            <input class="form-control searchbox" type="search" id="books" placeholder="Search a book..." aria-label="Search">
            <button type="submit" class="btn btn-primary btn-submit">Search</button>
        </form>
    </div>
            
    <div class="result align-l mx-5">
        <div id="res-header" class="flex-left mb-4">
            <div class="vr mr-3">
            </div>
            <div class="text-container">
                <h1 class="text-24 hasil">Search Result</h1>
            </div>
        </div>
        <div class="status-container none">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">No. </th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Cover</th>
                    </tr>
                </thead>
                <tbody>
                            
                </tbody>
            </table>
        </div>
            <p>Empty</p>
    </div>
</body>

<script src="{% static 'js/ajaks.js' %}"></script>

</html>